

    <%- include('../layouts/header.ejs') -%>

    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title">
                <% if(typeof message !== 'undefined' ){ %>
                    <% if(message === 'Something went Wrong' ){ %>
                        <p style="color: red;"><%= message %></p>
                    <% }else{ %>
                        <p style="color: green;"><%= message %></p>

                        <% } %> 
                <% } %>
                <h3 class="font-weight-bold"><%= user.name %></h3>
                <img src="userImages/<%=user.image%>" style="border-radius: 50%; margin-top: 1em;" width="100px" height="100px" alt="<%=user.image%>">

            </div>
            <table class="table table-borderless mt-2">
                <tbody>
                <tr>
                    <th style="text-align:left;" scope="row">Email</th>
                    <td style="text-align:left;">
                        <% if(user.temp_email !=="" ){ %>
                            <%= user.temp_email %>
                                <% }else{ %>
        
                                    <%= user.email %>
                                        <% } %>
        
                    </td>
                </tr>
                <tr>
                    <th style="text-align:left;" scope="row">Mobile</th>
                    <td style="text-align:left;">
                        <%= user.mobile %>
                    </td>
                </tr>
        
                <tr>
                    <th style="text-align:left;" scope="row">Verified</th>
                    <td style="text-align:left;">
                        <% if(user.temp_verify===1){ %>
                            <a href="/send" style="color: #198754;">verify</a>
                            <% }else{ %>
                                <p>yes</p>
                                <% }%>
        
                    </td>
                </tr>
            </tbody>
            </table>
            <a href="/edit?id=<%= user._id %>"><button type="submit" class="btn btn-success rounded-pill">Edit</button></a>
            <a href="/logout"><button type="submit" class="btn btn-success rounded-pill">Logout</button>
            </a>

        
        </div>
    </div>

 <%- include('../layouts/footer.ejs') -%>